.profile {
  flex-direction: column;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-pic {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  box-shadow: rgba(123, 74, 226, 0.2) 0px 10px 50px;
  margin-bottom: 10px;
}

.box-contacts {
  margin-top: 10px;
  gap: 15px;
}
