.topbar {
  position: fixed;
  margin-top: 32px;
  width: 100vw;
}

header {
  background-color: #121326;
  border-radius: 16px;
  height: 64px;
  width: 90vw;
  box-shadow: rgba(110, 54, 161, 0.35) 0px 10px 10px -10px;
}

.navigation {
  width: 300px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

ul > li > a {
  text-decoration: none;
  color: #FFFF;
}

.nav-list > li > a:hover {
  color:  rgba(123, 74, 226, 0.5);
  font-weight: 700;
}
