.topbar {
  position: fixed;
  margin-top: 32px;
  width: 100vw;
}

header {
  background-color: rgba(123, 74, 226, 0.08);
  border-radius: 16px;
  height: 64px;
  width: 90vw;
}

.navigation {
  width: 300px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

ul > li > a {
  text-decoration: none;
  color: #FFFF;
}

a:hover {
  color:  rgba(123, 74, 226, 0.5);
  font-weight: 700;
}
