* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

#about, #skills, #portfolio {
  min-height: 100vh;
  padding: 100px 0;
}

html {
  scroll-behavior: smooth;
  background-color: #090E16;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box, .skills-box {
  padding: 0 25px;
  margin-top: 20px;
}
