* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

#about, #skills, #portfolio {
  height: 100vh;
  padding-top: 100px;
}

html {
  scroll-behavior: smooth;
  background-color: #090E16;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
